<co-container id="footerContainer" class="footer" user-label="Slide footer">
    <co-image id="kyprolisLogo" class="kyprolis-logo" model="m.common.kyprolisLogo"></co-image>
    <co-image id="referencesButton" class="references-button" model="m.common.referencesButton" user-label="References button"></co-image>
    <co-image id="amgenLogo" class="amgen-logo" model="m.common.amgenLogo"></co-image>
</co-container>
