<co-container class="header" user-label="Slide header">
    <co-image class="header-buttons menu-button" model="m.common.menuButton" user-label="Menu button"></co-image>
    <co-container class="header-buttons-container" model="m.common.headerButtonsContainer" user-label="Header buttons container">
        <co-image class="header-buttons profiles" model="m.common.profiles" user-label="Button profiles"></co-image>
        <co-image class="header-buttons reg" model="m.common.reg" user-label="Button registration"></co-image>
        <co-image class="header-buttons save" model="m.common.save" user-label="Button save"></co-image>
    </co-container>
</co-container>