article.slide {
    width: 1024px;
    height: 768px;
}
.header{
    position: absolute;
    top: 0;
    height: 65px;
    background: #7d0049;
    box-sizing: border-box;
    width: 100%;
}
.header-buttons{
    position: absolute;
    width: 45px;
    height: 45px;
    display: block;
    border: yellow;
}
.menu-button{
    position: absolute;
    top: 17px;
    left: 60px;
    width: 45px;
    height: 30px;
}
co-chapter-menu-button co-button[co-chapter-menu-button], co-chapter-menu-button.location-bottom co-button[co-chapter-menu-button]{
    position: absolute;
    top: 17px;
    left: 80px;
    width: 45px;
    height: 30px;
    z-index: 1000;
    background: transparent;
}
co-shower[co-chapter-menu-button]{
    z-index: 100;
    width: 400px;
}
.header-buttons-container{
    position: absolute;
    top: 10px;
    left: 780px;
    border: #fff;
}
.reg{
    left: 68px;
}
.save{
    left: 140px;
}
.footer{
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    border-bottom: 5px solid #f47b20;
    width: 100%;
    height: 75px;
}
.kyprolis-logo{
    width: 155px;
    height: 62px;
    position: absolute;
    top: 5px;
    left: 25px;
}
.references-button{
    width: 54px;
    height: 40px;
    position: absolute;
    top: 7px;
    left: 480px;
}
.amgen-logo{
    width: 104px;
    height: 26px;
    position: absolute;
    top: 10px;
    left: 890px;
}